/*
table {
  table-layout: fixed;
  position: relative;
  white-space: nowrap;
  display:block;
  margin: 20px auto;
  border-collapse: collapse;
  width:max-content;
  height:300px;
  overflow: auto;
}
td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
table tr.column-names{
  z-index: 1;
  top:0;
}
table tr th{
  font-weight: 300;
}
table tr th.column-name{
  text-transform: uppercase;
  position: sticky;
}
*/
.table{
  box-shadow: var(--shadow-black-300);
  margin: 10px auto;
  display:grid;
  grid-template-columns: 1fr;
  height: 300px;
  overflow: auto;
}
.row{
  padding: 5px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column-names{
  height: 40px;
  align-items: center;
  font-weight:800;
  cursor:pointer;
  text-transform: uppercase;
  background-color: white;
  position: sticky;
  top:0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sortBy{
  color:var(--main-color);
}
.table input{
  max-width: 80px;
}
.table .tools{
  cursor:pointer;
}