table {
  display:block;
  margin: 20px auto;
  border-collapse: collapse;
  width:max-content;
  height:300px;
  overflow: auto;
}
td, th {
  border: 1px solid #dddddd;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
table tr th{
  font-weight: 300;
}
table tr th.column-name{
  font-weight:800;
  text-transform: uppercase;
  position: sticky;
}
table tr th.tools{
  cursor:pointer;
}
table input{
  width: 80px;
}