.App{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:650px;
  height:800px;
  margin:0 auto;
  padding:50px;
}
*{
  user-select: none;
}
#display{
  display:flex;
  height: 100%;
  background-color: rgb(240, 240, 240);
  padding:30px;
}