.App{
  font-family: Poppins, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
  margin: 0 auto;
  height:100vh;
}
*{
  user-select: none;
}
#display{
  display:flex;
  height: 100%;
  background-color: rgb(240, 240, 240);
  padding:20px;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.buttons span{
  width: 30%;
  display:flex;
  gap: 10px;
}